@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #333;
  --background-color: #fff;
}

[data-theme="dark"] {
  --font-color: #fff;
  --background-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

input {
  color: #000;
}
